<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDA4Rn_10c0fNOON4fWfZ3Qd6VgQ1riY8I</string>
	<key>GCM_SENDER_ID</key>
	<string>190169579590</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.teamStorage</string>
	<key>PROJECT_ID</key>
	<string>nearbystore-4a026</string>
	<key>STORAGE_BUCKET</key>
	<string>nearbystore-4a026.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:190169579590:ios:794f29727d271545b58a47</string>
</dict>
</plist>